<div
  class="container-fluid"
  style="height: 90px"
>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        href="#"
      >
        <img
          src="/assets/logo.png"
          alt="logo"
          width="140px"
          height="40px"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNavDropdown"
      >
        <ul class="navbar-nav ms-auto me-auto gap-4">
          <li class="nav-item">
            <a
              class="nav-link primary-hover"
              aria-current="page"
              href="#"
              >হোম</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link primary-hover"
              href="#"
              >আমাদের সম্পর্কে</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link primary-hover"
              href="#"
              >ভর্তি</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link primary-hover"
              href="all-courses.html"
              >কোর্স সমূহ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link primary-hover"
              href="#"
              >অন্যান্য</a
            >
          </li>
        </ul>
        <div class="d-lg-flex align-items-center gap-3">
          <div class="nav-item dropdown mt-4 mt-lg-0">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              En
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  >Bn</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  >Something else here</a
                >
              </li>
            </ul>
          </div>
          <div class="nav-devider"></div>
          <button class="btn btn-cta primary-bg text-white my-4">লগইন</button>
          <button class="btn btn-cta btn-outline text-white">
            নতুন একাউন্ট
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
