.all-courses {
  .top {
    background-color: var(--dark-bg);
    h1 {
      font-size: 3rem;
      @media (min-width: 992px) {
        font-size: 4rem;
      }
    }
  }
  img {
    width: 100%;
    max-width: 600px;
  }
}
