:root {
  --primary-red: #dc3545;
  --light-gray: #f7f7f7;
}

html {
  font-size: 14px;
}

h1 {
  font-weight: bold;
}

.primary-bg {
  background: var(--primary-red);
  &:hover {
    background-color: var(--primary-red);
  }
}
.btn-outline {
  background: transparent;
  color: var(--primary-red) !important;
  border: 1px var(--primary-red) solid;
  &:hover {
    border: 1px var(--primary-red) solid;
  }
}
.primary-hover:hover {
  transition: 0.3s all ease-in-out;
  color: var(--primary-red) !important;
}

.btn-cta {
  width: 100%;
  @media (min-width: 767px) {
    width: auto;
  }
}

.bg-lightgray {
  background-color: var(--light-gray);
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  background: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: white;
  &:hover {
    .c-btn {
      color: var(--primary-red);
    }
  }
  &::after {
    display: none;
  }
}

.swiper-pagination-bullet {
  background: var(--primary-red);
  width: 40px;
  height: 6px;
  border-radius: 5px;
}

.c-btn {
  color: gray;
}
