:root {
  --primary-red: #ea252c;
  --light-gray: #f7f7f7;
  --gray: lightgray;
  --dark-gray: #4e4e4e;
  --success: #14cd8f;
  --warning: #f9c80e;
  --light-text: #777980;
  --dark-text: #4a4c56;
  --dark-bg: #1c1e2b;
}

html {
  font-size: 14px;
}
h1 {
  font-weight: bold;
}

.light-text {
  color: var(--light-text) !important;
}
.dark-text {
  color: var(--dark-text) !important;
}
.wide-text {
  letter-spacing: 1px;
}

.primary-bg {
  background: var(--primary-red);
  &:hover {
    opacity: 80%;
    background-color: var(--primary-red);
  }
  &:active {
    background-color: var(--primary-red) !important;
  }
}
.btn-outline {
  background: transparent;
  color: var(--primary-red) !important;
  border: 1px var(--primary-red) solid;
  &:hover {
    border: 1px var(--primary-red) solid;
    opacity: 80%;
  }
}
.primary-hover:hover {
  transition: 0.3s all ease-in-out;
  color: var(--primary-red) !important;
}
.btn-cta {
  width: 100%;
  @media (min-width: 992px) {
    width: auto;
  }
}
.bg-transparent {
  background: transparent !important;
}
.bg-lightgray {
  background-color: var(--light-gray);
}
.dark-bg {
  background-color: var(--dark-bg);
}
.success-text {
  color: var(--success) !important;
}
.success-bg {
  background-color: var(--success);
  &:hover {
    opacity: 80%;
    background-color: var(--success);
  }
}
.warning {
  background: #f9c60e18;
  border: 2px solid var(--warning);
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  background: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: white;
  &:hover {
    .c-btn {
      color: var(--primary-red);
    }
  }
  &::after {
    display: none;
  }
}

.swiper-pagination-bullet {
  background: var(--primary-red);
  width: 40px;
  height: 6px;
  border-radius: 5px;
}

.c-btn {
  color: gray;
}

label {
  display: block;
  color: var(--dark-gray);
  font-weight: 500;
  margin-bottom: 0.3rem;
}
input,
select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray);
  margin-bottom: 1rem;
}
